{% extends 'AppCritique/base.html' %}

{% block content %}

<div class="bg-white p-6 rounded shadow mb-6">

    <h2 class="text-xl font-bold">
        {{ ticket.title }}
    </h2>

    <p>
        {{ ticket.description }}
    </p>

</div>

<form method="POST">

    {% csrf_token %}

    <!-- Erreurs globales du formulaire -->
        {% if form.non_field_errors %}
        <div class="bg-red-100 text-red-600 p-4 rounded mb-4">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

    {{ form.as_p }}

    <button
        type="submit"
        class="bg-blue-600 text-white px-4 py-2 rounded"
    >
        Publier
    </button>

</form>

{% endblock %}