{% extends 'AppCritique/base.html' %}

{% block content %}

<h1 class="text-2xl font-bold mb-6">
Créer un ticket et une critique
</h1>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

     <!-- Erreurs générales -->
    {% if ticket_form.non_field_errors %}
    <div class="bg-red-100 text-red-600 p-4 rounded mb-4">
        {{ ticket_form.non_field_errors }}
    </div>
    {% endif %}

    {% if review_form.non_field_errors %}
    <div class="bg-red-100 text-red-600 p-4 rounded mb-4">
        {{ review_form.non_field_errors }}
    </div>
    {% endif %}
    
    <h2 class="text-xl font-bold mb-4">
        Ticket
    </h2>

    {{ ticket_form.as_p }}

    <h2 class="text-xl font-bold mb-4 mt-8">
        Critique
    </h2>

    {{ review_form.as_p }}

    <button
        type="submit"
        class="bg-blue-600 text-white px-4 py-2 rounded mt-4"
    >
        Publier
    </button>

</form>

{% endblock %}