{% extends 'AppCritique/base.html' %}

{% block content %}

<h1 class="text-2xl font-bold mb-6">
Créer un ticket et une critique
</h1>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <h2 class="text-xl font-bold mb-4">
        Ticket
    </h2>

    {{ ticket_form.as_p }}

    <h2 class="text-xl font-bold mb-4 mt-8">
        Critique
    </h2>

    {{ review_form.as_p }}

    <button
        type="submit"
        class="bg-blue-600 text-white px-4 py-2 rounded mt-4"
    >
        Publier
    </button>

</form>

{% endblock %}