{% extends 'AppCritique/base.html' %}

{% block title %}
Connexion
{% endblock %}

{% block content %}

<div class="max-w-md mx-auto bg-white p-8 rounded shadow">

    <h1 class="text-2xl font-bold mb-6">
        Connexion
    </h1>

    <form method="POST">

        {% csrf_token %}

       <!-- Erreurs globales du formulaire -->
        {% if form.non_field_errors %}
        <div class="bg-red-100 text-red-600 p-4 rounded mb-4">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
 
        {{ form.as_p }}

        <button
            type="submit"
            class="bg-blue-600 text-black px-4 py-2 rounded"
        >
            Se connecter
        </button>

    </form>

</div>

{% endblock %}